<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Illumina</title>
    <!-- Style and script -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/style.css" media="all" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-expand-lg row py-3">
          <div class="col-3 col-xxl-4">
            <a class="navbar-brand text-uppercase py-0" href="#">Illumina</a>
          </div>
          <div class="container-fluid col-9 col-xxl-8">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <% for (i in data.menu) {%>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= data.menu[i].link %>" target="_blank">
                      <%= data.menu[i].name %>
                    </a>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="banner position-relative">
      <div class="container-fluid px-0">
        <div class="banner_top container">
          <h1 class="text-uppercase text-center">Welcome to Illumina</h1>
          <p class="text-center">We are a reliable partner in the field of Technology,
            providing <span>solutions</span> to deploy <span>technology products,
            digital transformation,</span> especially <span>blockchain intergration</span></p>
        </div> 
        <div class="banner_bottom d-flex justify-content-end">
          <div class="about-us">
            <h1>About us</h1>
            <h2>Illumina</h2>
            <h3><%-data.aboutUs.title%></h3>
            <p><%-data.aboutUs.content%></p>
          </div>
          <div class="banner_img position-absolute">
            <span class="position-relative">
              <img class="polygon-left position-absolute" src="imgs/polygon-left.svg" alt="polygon-bot">
              <img class="position-relative main-img" src="imgs/img-banner.svg " alt="banner_img-1"/>
              <img class="polygon-bot position-absolute" src="imgs/polygon-bot.svg" alt="polygon-bot">
            </span>
        </div>
      </div>
    </section>
    <section class="services">
      <div class="container container-cus">
        <h1 class="title-content"><%-data.services.title%></h1>
        <div class="services_content row">
          <% for (i in data.services.content) {%>
          <div class="col-xl services_content_item">
            <img src="imgs/<%= data.services.content[i].img %>" alt="<%= data.services.content[i].alt %>" />
            <h2><%= data.services.content[i].name %></h2>
            <p><%= data.services.content[i].description %></p>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <section class="process">
      <div class="container container-cus">
        <h1 class="title-content"><%-data.processExecution.title%></h1>
        <div class="process_content position-relative">
          <% for (i in data.processExecution.content) {%>
          <div class="process-item-<%= data.processExecution.content[i].position %> row position-relative">
            <div class="col-6 process-item position-relative d-flex flex-column justify-content-center">
              <h2><%= data.processExecution.content[i].name %></h2>
              <p><%= data.processExecution.content[i].description %></p>
                <img class="position-absolute" src="imgs/<%= data.processExecution.content[i].img %>"/>
            </div>
          </div>
          <% } %>
          <img class="position-absolute" src="imgs/overlay-process.svg" alt="overlay process"/>
        </div>
      </div>
    </section>
    <section class="product">
      <div class="container container-cus">
        <h1 class="title-content"><%-data.product.title%></h1>
        <div class="product-tabs position-relative">
          <nav class="position-relative">
            <div class="nav nav-tabs row position-relative" id="nav-tab" role="tablist">
              <% for (i in data.product.tabs) {%>
                <button class="col nav-link <%= data.product.tabs[i].active %>" data-bs-toggle="tab" data-bs-target="#<%= data.product.tabs[i].name %>" type="button" role="tab">
                  <img src="imgs/<%= data.product.tabs[i].imgTitle %>" alt="<%= data.product.tabs[i].alt %>"/>
                </button>
              <% } %>
            </div>
            <div class="tabs-overlay position-absolute"></div>
          </nav>
          <div class="tab-content" id="nav-tabProduct">
            <% for (i in data.product.tabs) {%>
            <div class="tab-pane fade show <%= data.product.tabs[i].active %>" id="<%= data.product.tabs[i].name %>" role="tabpanel">
              <div class="row">
                <div class="col-5">
                  <h2>Technology products</h2>
                </div>
                <div class="col-7">
                  <h2>Technology products</h2>
                </div>
              </div>
              <% for (j in data.product.tabs[i].techProduct) {%>
                <div class="row">
                  <div class="col-5">
                    <p><%-data.product.tabs[i].techProduct[j].nameProduct%></p>
                  </div>
                  <div class="col-7">
                    <p><%-data.product.tabs[i].techProduct[j].infoProduct%></p>
                  </div>
                </div>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
        <div class="product-carousel owl-carousel owl-theme" >
          <div class="item" data-animate="flipInX animated"><img src="imgs/sel-1.png"/></div>
          <div class="item"><img src="imgs/sel-2.png"/></div>
          <div class="item"><img src="imgs/sel-3.png"/></div>
          <div class="item"><img src="imgs/sel-4.png"/></div>
          <div class="item"><img src="imgs/sel-5.png"/></div>
          <div class="item"><img src="imgs/sel-6.png"/></div>
          <div class="item"><img src="imgs/sel-7.png"/></div>
      </div>
      </div>
    </section>
  </body>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</html>
