<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Illumina</title>
    <!-- Style and script -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/style.css" media="all" />
  </head>
  <body>
    <header class="header">
      <div class="container ">
        <nav class="navbar navbar-expand-lg row py-3">
          <div class=" col-2 col-xl-3 col-xxl-4">
              <a class="logo navbar-brand text-uppercase py-0 " href="/">
                  <img src="imgs/<%= data.logo.img %>" alt="logo"/>
                  <p><%- data.logo.name %></p>
              </a>
          </div>
          <div class="container-fluid col-10 col-xl-9 col-xxl-8">
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <% for (i in data.menu) {%>
                  <li class="nav-item">
                    <a class="link-page nav-link <%= data.menu[i].active %>" href="#<%= data.menu[i].link %>">
                      <%= data.menu[i].name %>
                    </a>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <section class="banner position-relative" id="about-us">
      <div class="container-fluid px-0">
        <div class="banner_top container">
          <h1 class="text-uppercase text-center">Welcome to Illumina</h1>
          <p class="text-center">We are a reliable partner in the field of Technology,
            providing <span>solutions</span> to deploy <span>technology products,
            digital transformation,</span> especially <span>blockchain intergration</span></p>
        </div> 
        <div class="banner_bottom d-flex justify-content-end">
          <div class="about-us">
            <h1>About us</h1>
            <h2>Illumina</h2>
            <h3><%-data.aboutUs.title%></h3>
            <p><%-data.aboutUs.content%></p>
          </div>
          <div class="banner_img position-absolute">
            <span class="position-relative">
              <img class="polygon-left position-absolute" src="imgs/polygon-left.svg" alt="polygon-bot">
              <img class="position-relative main-img" src="imgs/img-banner.svg " alt="banner_img-1"/>
              <img class="polygon-bot position-absolute" src="imgs/polygon-bot.svg" alt="polygon-bot">
            </span>
        </div>
      </div>
    </section>
    <section class="core position-relative" id="core-value">
      <img class="ovl-2" src="imgs/ovl-2-core.svg" alt="polygon-top"/>
      <img class="ovl-1" src="imgs/ovl-1-core.svg" alt="ovl-wave"/>
      <img class="ovl-3" src="imgs/ovl-3-core.svg"alt="polygon-right"/>
      <div class="container position-relative">
        <h1 class="title-content"><%-data.core.title%></h1>
        <div class="core_content d-flex justify-content-center">
          <% for (i in data.core.lists) {%>
          <div class="core_item d-flex flex-column align-items-center ">
            <img src="imgs/<%= data.core.lists[i].img %>" alt="<%= data.core.lists[i].alt %>"/>
            <h2><%= data.core.lists[i].name %></h2>
            <p><%= data.core.lists[i].desc %></p>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <section class="services position-relative" id="services">
      <div class="container container-cus">
        <h1 class="title-content"><%-data.services.title%></h1>
        <div class="services_content row">
          <% for (i in data.services.content) {%>
          <div class="col-xl services_content_item">
            <img src="imgs/<%= data.services.content[i].img %>" alt="<%= data.services.content[i].alt %>" />
            <h2><%= data.services.content[i].name %></h2>
            <p><%= data.services.content[i].description %></p>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <section class="process position-relative" id="process">
      <div class="container container-cus">
        <h1 class="title-content"><%-data.processExecution.title%></h1>
        <div class="process_content position-relative">
          <% for (i in data.processExecution.content) {%>
          <div class="process-item-<%= data.processExecution.content[i].position %> row position-relative">
            <div class="col-8 col-xl-6 process-item position-relative d-flex flex-column justify-content-center">
              <h2><%= data.processExecution.content[i].name %></h2>
              <p><%= data.processExecution.content[i].description %></p>
                <img class="position-absolute" src="imgs/<%= data.processExecution.content[i].img %>"/>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <img class="ovl position-absolute" src="imgs/overlay-process.svg" alt="overlay process"/>
    </section>
    <section class="product position-relative" id="product">
      <div class="container container-cus position-relative">
        <h1 class="title-content"><%-data.product.title%></h1>
        <div class="product-tabs position-relative">
          <nav class="position-relative">
            <div class="nav nav-tabs row position-relative" id="nav-tab" role="tablist">
              <% for (i in data.product.tabs) {%>
                <button class="col nav-link <%= data.product.tabs[i].active %>" data-bs-toggle="tab" data-bs-target="#<%= data.product.tabs[i].name %>" type="button" role="tab">
                  <img src="imgs/<%= data.product.tabs[i].imgTitle %>" alt="<%= data.product.tabs[i].alt %>"/>
                </button> 
              <% } %>
            </div>
            <div class="tabs-overlay position-absolute"></div>
          </nav>
          <div class="tab-content" id="nav-tabProduct">
            <% for (i in data.product.tabs) {%>
            <div class="tab-pane fade <%= data.product.tabs[i].active %>" id="<%= data.product.tabs[i].name %>" role="tabpanel">
              <div class="row">
                <div class="col-5">
                  <h2>Technology products</h2>
                </div>
                <div class="col-7">
                  <h2>Project details</h2>
                </div>
              </div>
              <% for (j in data.product.tabs[i].techProduct) {%>
                <div class="row">
                  <div class="col-5">
                    <p><%-data.product.tabs[i].techProduct[j].nameProduct%></p>
                  </div>
                  <div class="col-7">
                    <p><%-data.product.tabs[i].techProduct[j].infoProduct%></p>
                  </div>
                </div>
              <% } %>
            </div>
            <% } %>
          </div>
        </div>
        <div class="product-carousel owl-carousel owl-theme position-relative" >
          <% for (i in data.product.carousel) {%>
          <div class="item">
            <img src="imgs/<%= data.product.carousel[i].img %>" alt="<%= data.product.carousel[i].alt %>"/>
            <div class="item-content">
              <h2><%= data.product.carousel[i].name %></h2>
              <p class="desc"><%= data.product.carousel[i].desc %></p>
              <% for (j in data.product.carousel[i].list) {%>
                <p><%- data.product.carousel[i].list[j].info %></p>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <img class="overlay position-absolute" src="imgs/overlay-product.svg" alt="overlay product"/>
        <img class="ovl-pro-l position-absolute" src="imgs/ovl-pro-l.svg" alt="overlay product left"/>
        <img class="ovl-pro-r position-absolute" src="imgs/ovl-pro-r.svg" alt="overlay product right"/>
    </section>
    <section class="technology position-relative" id="tech">
      <img class="ovl-t-1 position-absolute" src="imgs/tech-ovl-1.svg" alt="tech-ovl-1"/>
      <img class="ovl-t-2 position-absolute" src="imgs/tech-ovl-2.svg" alt="tech-ovl-2"/>
      <img class="ovl-t-3 position-absolute" src="imgs/tech-ovl-3.svg" alt="tech-ovl-3"/>
      <img class="ovl-t-4 position-absolute" src="imgs/tech-ovl-4.svg" alt="tech-ovl-4"/>
      <img class="ovl-t-5 position-absolute" src="imgs/tech-ovl-5.svg" alt="tech-ovl-5"/>
      <div class="container container-cus position-relative">
        <div class="technology_content d-flex flex-column">
          <h1 class="title-content"><%-data.technology.title%></h1>
          <div class="technology-tabs position-relative">
            <nav class="position-relative">
              <div class="nav nav-tabs row position-relative" id="tab-technology" role="tablist">
                <% for (i in data.technology.tabs) {%>
                  <button class="col nav-link <%= data.technology.tabs[i].active %>" data-bs-toggle="tab" data-bs-target="#<%= data.technology.tabs[i].tabName %>" type="button" role="tab">
                    <%= data.technology.tabs[i].name%>
                  </button> 
                <% } %>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabtechnology">
              <% for (i in data.technology.tabs) {%>
              <div class="tab-pane fade <%= data.technology.tabs[i].active %>" id="<%= data.technology.tabs[i].tabName %>" role="tabpanel">
                <div class="technology-lists d-flex justify-content-center flex-wrap">
                <% for (j in data.technology.tabs[i].tools) {%>
                    <div class="col-2-5 d-flex flex-column justify-content-center align-items-center">
                      <img src="imgs/<%= data.technology.tabs[i].tools[j].img %>" alt="<%= data.technology.tabs[i].tools[j].alt %>"/>
                      <p><%- data.technology.tabs[i].tools[j].language %></p>
                    </div>
                <% } %>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="contact-us position-relative" id="contact-us">
      <img class="position-absolute ovl-bg" src="imgs/contact-ovl.svg" alt="overlay background"/>
      <img class="position-absolute ovl-l" src="imgs/ovl-form-l.svg"alt="polygon left"/>
      <img class="position-absolute ovl-r" src="imgs/ovl-form-r.svg"alt="polygon right"/>
      <div class="container position-relative">
        <h1 class="title-content"><%-data.contactUs.title%></h1>
        <div class="contact-us-content row">
          <div class="content-l col">
            <img src="imgs/<%-data.contactUs.img%>"/>
            <h2>Get in touch</h2>
            <% for (i in data.contactUs.info) {%>
              <div class="item">
                <span class="d-flex">
                  <img src="imgs/<%= data.contactUs.info[i].icon %>" alt="<%= data.contactUs.info[i].alt %>" />
                  <h3><%= data.contactUs.info[i].name %></h3>
                </span>
                <p><%= data.contactUs.info[i].content %></p>
              </div>
            <% } %>
          </div>
          <div class="col">
            <form id="submit_form" action="" method="post">
              <div class="mb-3 position-relative">
                <img class="position-absolute" src="imgs/user-icon.svg" alt="user"/>
                <input type="text" class="form-control" id="name" placeholder="First Name">
              </div>
              <div class="mb-4 position-relative">
                <img class="position-absolute" src="imgs/phone-icon.svg" alt="phone"/>
                <input type="text" class="form-control" id="phone" placeholder="Phone">
              </div>
              <div class="mb-3 position-relative">
                <img class="position-absolute" src="imgs/email-icon.svg" alt="email"/>
                <input type="email" class="form-control" id="email" placeholder="Email" required >
                <label class="require position-absolute align-items-center justify-content-center"></label>
              </div>
              <div class="mb-4 position-relative" >
                <img class="mess position-absolute" src="imgs/mess-icon.svg" alt="mess"/>
                <textarea class="form-control" id="mess" placeholder="Message"></textarea>
              </div>
              <div class="noti mb-3 position-relative d-flex align-items-center justify-content-center"></div>
              <button type="submit" id="submit" class="btn btn-primary">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer position-relative">
      <div class="footer_content d-flex flex-column d-flex align-items-center justify-content-center">
        <span class="logo">
          <img src="imgs/<%= data.logo.img %>" alt="logo"/>
          <p><%- data.logo.name %></p>
        </span>
        <h3>Solution - Transparency - Cooperation</h3>
      </div>
       <img class="position-absolute ovl-f1" src="imgs/ovl-footer-1.svg" alt="overlay-1"/>
       <img class="position-absolute ovl-f2" src="imgs/ovl-footer-2.svg" alt="overlay-2"/>
       <img class="position-absolute ovl-f3" src="imgs/ovl-footer-3.svg" alt="overlay-3"/>
    </footer>
  </body>
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="js/index.js"></script>
</html>
